import init.${ro.hardware}.usb.rc

on init
    start watchdogd

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /boot 0700 root root
    mkdir /recovery 0700 root root
    mkdir /misc 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

on boot

    # Set permission for IIM node
    symlink /dev/mxs_viim /dev/mxc_mem

    setprop ro.kernel.android.gps /dev/gpsdevice

    # Enable Tethering in the Settings
    setprop ro.tether.denied false

    # 3D acceleration property
    setprop debug.sf.showfps    0
    setprop debug.sf.enable_hgl 1
    setprop debug.egl.hw	1

    setprop hwc.stretch.filter  1
    setprop hwc.enable_dither   1

    # fsl omx graphic manager media framework property
    setprop media.omxgm.enable-player 1
    setprop media.omxgm.enable-record 1
    setprop media.omxgm.enable-scan 1
    setprop rw.VIDEO_RENDER_NAME video_render.surface

    # Set OpenGLES version
    setprop ro.opengles.version 131072

    # Set rotation to 270 to cofigure as portrait mode
    setprop ro.sf.hwrotation 0

    # Set the density to 160dpi, default 128dpi is not good
    setprop ro.sf.lcd_density 160

    # Set extsd access permission
    setprop persist.sampling_profiler 1

    # change for FSL specific service
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq
    chmod 0440 /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_frequencies
    chown root system /sys/devices/system/cpu/cpu0/online
    chmod 0664 /sys/devices/system/cpu/cpu0/online
    chown root system /sys/devices/system/cpu/cpu1/online
    chmod 0664 /sys/devices/system/cpu/cpu1/online
    chown root system /sys/devices/system/cpu/cpu2/online
    chmod 0664 /sys/devices/system/cpu/cpu2/online
    chown root system /sys/devices/system/cpu/cpu3/online
    chmod 0664 /sys/devices/system/cpu/cpu3/online

    # prepare for ril
    setprop gsm.ril.delay 15
    setprop ro.ril.wake_lock_timeout 300

    # Default backlight device
    setprop hw.backlight.dev "backlight.0"
    # Chmod/chown FSL specific sys entry
    chown system system /sys/class/backlight/backlight.0/brightness
    chmod 0660 /sys/class/backlight/backlight.0/brightness

    # emulate battery
    setprop sys.emulated.battery 1

    # disable PM (set to false to enable suspend/resume features)
    setprop hw.nopm true

    # bluetooth
    setprop hw.bluetooth 1

    # wifi
    setprop wifi.interface wlan0
    setprop wlan.driver.status "ok"

    # RFKILL
    # re-enable radio (they get disabled in fsl/imx6.rc)
    write /sys/class/rfkill/rfkill0/state 1

    # wpa supplicant
    symlink /dev/socket/wpa_wlan0 /data/system/wpa_supplicant/wlan0

    # mount the debugfs
    mount debugfs none /sys/kernel/debug/

# script to do some board-detection and board-specific setup
service board-setup /system/bin/logwrapper /system/bin/init.sh
    class late_start
    user root
    group root
    oneshot

# wpa_supplicant
service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf
    socket wpa_wlan0 dgram 660 wifi wifi
    class late_start
    disabled
    oneshot

on fs
    # mount partitions
    symlink /fstab_${ro.bootmode} /fstab.freescale
    mount_all /fstab_${ro.bootmode}

    # load various kernel modules
    # uncomment these if they are needed but be sure to also install
    # any firmware they need in /system/etc/firmware or /vendor/firmware
    #insmod /system/lib/modules/carl9170.ko
    #insmod /system/lib/modules/ath3k.ko
    #insmod /system/lib/modules/rtlwifi.ko
    #insmod /system/lib/modules/rt2x00lib.ko
    #insmod /system/lib/modules/rt2x00usb.ko
    #insmod /system/lib/modules/rt2800lib.ko
    #insmod /system/lib/modules/rt2800usb.ko
