import init.${ro.hardware}.usb.rc
import init.${ro.hardware}.${ro.soc}.rc

on init
    start watchdogd

    # See storage config details at http://source.android.com/tech/storage/

    # Configure primary internal storage
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /boot 0700 root root
    mkdir /recovery 0700 root root
    mkdir /misc 0700 root root

    # External storage mountpoints for Ventana
    mkdir /mnt/media_rw/extsd 0766 media_rw media_rw
    mkdir /storage/extsd 0766 root root

    mkdir /mnt/media_rw/extsd1 0766 media_rw media_rw
    mkdir /storage/extsd1 0766 root root

    mkdir /mnt/media_rw/udisk 0766 media_rw media_rw
    mkdir /storage/udisk 0766 root root

    mkdir /mnt/media_rw/udisk1 0766 media_rw media_rw
    mkdir /storage/udisk1 0766 root root

    mkdir /mnt/media_rw/sata 0766 media_rw media_rw
    mkdir /storage/sata 0766 root root

    # Assign environment vars used by framework
    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/extsd:/storage/extsd1:/storage/udisk:/storage/udisk1:/storage/sata

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    # setup the global environment
    export SHM_MOUNTPOINT /mnt/shm
    export LIGHTSENSOR_PATH /sys/class/i2c-adapter/i2c-1/1-0044
    export VPU_FW_PATH /system/lib/firmware/vpu
    export CODEC_SHM_PATH /mnt/shm
    export CORE_REGISTER_FILE /system/etc/core_register
    export COMPONENT_REGISTER_FILE /system/etc/component_register
    export CONTENTPIPE_REGISTER_FILE /system/etc/contentpipe_register

    # disable cursor blink for fbcon, if no splash screen support
    write /sys/class/graphics/fbcon/cursor_blink 0

    # deattach the fbcon as hdmi hotplug conflict with fbcon
    write /sys/class/vtconsole/vtcon1/bind 0

on boot

    # Set permission for IIM node
    symlink /dev/mxs_viim /dev/mxc_mem

    # GPS
    setprop ro.kernel.android.gps gpsdevice
    setprop ro.kernel.android.gpsttybaud 115200

    # Enable Tethering in the Settings
    setprop ro.tether.denied false

    # 3D acceleration property
    setprop debug.sf.showfps    0
    setprop debug.sf.enable_hgl 1
    setprop debug.egl.hw	1

    setprop hwc.stretch.filter  1
    setprop hwc.enable_dither   1

    # fsl omx graphic manager media framework property
    setprop media.omxgm.enable-player 1
    setprop media.omxgm.enable-record 1
    setprop media.omxgm.enable-scan 1
    setprop rw.VIDEO_RENDER_NAME video_render.surface

    # Tweak the mmc device read ahead buffer size
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048

    # ALSA mixer naming define
    setprop alsa.mixer.playback.master Playback
    setprop alsa.mixer.capture.master Capture
    setprop alsa.mixer.playback.speaker Playback
    setprop alsa.mixer.playback.headset Headphone
    setprop alsa.mixer.capture.headset Capture

    # Prepare for wifi
    setprop wifi.interface wlan0
    setprop wifi.ap.interface wlan0

    # Prepare for bluetooth
    chown bluetooth bluetooth /data/misc/bluetooth
    chown bluetooth bluetooth /dev/uhid
    chown system    bluetooth /dev/uinput
    chmod 665 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    write /sys/class/rfkill/rfkill0/state 0

    # Prepare for RIL
    setprop gsm.ril.delay 15
    setprop ro.ril.wake_lock_timeout 300

    # Set rotation to 270 to cofigure as portrait mode
    setprop ro.sf.hwrotation 0

    # Setting density=0 will cause density to be calculated at runtime
    setprop ro.sf.lcd_density 160

    # Set extsd access permission
    setprop persist.sampling_profiler 1

    # change for FSL specific service
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq
    chmod 0440 /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_available_frequencies
    chown root system /sys/devices/system/cpu/cpu0/online
    chmod 0664 /sys/devices/system/cpu/cpu0/online
    chown root system /sys/devices/system/cpu/cpu1/online
    chmod 0664 /sys/devices/system/cpu/cpu1/online
    chown root system /sys/devices/system/cpu/cpu2/online
    chmod 0664 /sys/devices/system/cpu/cpu2/online
    chown root system /sys/devices/system/cpu/cpu3/online
    chmod 0664 /sys/devices/system/cpu/cpu3/online

    # prepare for ril
    setprop gsm.ril.delay 15
    setprop ro.ril.wake_lock_timeout 300

    # Default backlight device
    setprop hw.backlight.dev "backlight.0"
    # Chmod/chown FSL specific sys entry
    chown system system /sys/class/backlight/backlight.0/brightness
    chmod 0660 /sys/class/backlight/backlight.0/brightness

    # emulate battery
    setprop sys.emulated.battery 1

    # disable PM (set to false to enable suspend/resume features)
    setprop hw.nopm true

    # bluetooth
    setprop hw.bluetooth 1

    # Set WiFi Display Source VideoBitRate Adaptive
    setprop media.wfd.video-bitrate 3000000

    # RFKILL
    # re-enable radio (they get disabled in fsl/imx6.rc)
    write /sys/class/rfkill/rfkill0/state 1

    # mount the debugfs
    mount debugfs none /sys/kernel/debug/

    # ensure any user init script is executable
    chmod 0755 /data/bin/init.sh

on charger
    # Enable Power modes and set the CPU Freq Sampling rates
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000
    write /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor 4
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0

on property:sys.boot_completed=1
# Set default CPU frequency governor
# Set timer 40ms, min sample 60ms,hispeed at cpufreq MAX freq in freq_table at load 40%
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/go_maxspeed_load 80
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 60000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 40
    #write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 792000
# change interactive atrrubuties permissions when interactive is actived
on property:sys.interactive="active"
    chown system root /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system root /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system root /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system root /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system root /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system root /sys/devices/system/cpu/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
    chown system root /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system root /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy

on property:bluetooth.start=daemon
    setprop bluetooth.start none
    start bluetoothd

on property:bluetooth.stop=daemon
    setprop bluetooth.stop none
    stop bluetoothd

on property:bluetooth.start=snoop
    setprop bluetooth.start none
    start bluetoothd-snoop

on property:bluetooth.stop=snoop
    setprop bluetooth.stop none
    stop bluetoothd-snoop

service bluetoothd /system/bin/bluetoothd
    class main
    # init does not yet support setting capabilities so run as root,
    # bluetoothd drop uid to bluetooth with the right linux capabilities
    group bluetooth
    disabled
    oneshot

service bluetoothd-snoop /system/bin/bluetoothd-snoop
    class main
    # init does not yet support setting capabilities so run as root,
    # bluetoothd-snoop drops unneeded linux capabilities
    group nobody
    disabled
    oneshot

# script to do some board-detection and board-specific setup
service board-setup /system/bin/logwrapper /system/bin/init.sh
    class late_start
    user root
    group root
    seclabel u:r:board_setup:s0
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class late_start
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_eth1 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth1 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service hostapd /system/bin/hostapd /data/misc/wifi/hostapd.conf
    socket hostapd_wlan0 dgram 660 root wifi
    user root
    group wifi
    oneshot
    disabled

service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
   socket rild-debug stream 660 radio system
    socket rild-ppp stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw log

service pppd_gprs /etc/ppp/init.gprs-pppd
    class main
    user root
    group radio cache inet misc
    disabled
    oneshot

service wifi_mac /system/bin/sh /system/etc/check_wifi_mac.sh
    class late_start
    oneshot

# virtual sdcard daemon running as media_rw (1023)
# default 4 threads have better performance to 2 threads.
service sdcard /system/bin/sdcard -l -t4 /data/media /mnt/shell/emulated 1023 1023
    class late_start
service fuse_extsd /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/extsd /storage/extsd
    class late_start
    disabled
service fuse_extsd1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/extsd1 /storage/extsd1
    class late_start
    disabled
service fuse_udisk /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/udisk /storage/udisk
    class late_start
    disabled
service fuse_udisk1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/udisk1 /storage/udisk1
    class late_start
    disabled
service fuse_sata /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sata /storage/sata
    class late_start
    disabled

on fs
    # mount partitions
    symlink /fstab_${ro.bootmode} /fstab.freescale
    mount_all /fstab_${ro.bootmode}

    # load various kernel modules
    # uncomment these if they are needed but be sure to also install
    # any firmware they need in /system/etc/firmware or /vendor/firmware
    #insmod /system/lib/modules/carl9170.ko
    #insmod /system/lib/modules/ath3k.ko
    #insmod /system/lib/modules/rtlwifi.ko
    #insmod /system/lib/modules/rt2x00lib.ko
    #insmod /system/lib/modules/rt2x00usb.ko
    #insmod /system/lib/modules/rt2800lib.ko
    #insmod /system/lib/modules/rt2800usb.ko

    setprop ro.crypto.fuse_sdcard true

on post-fs
    # Turn on swap
    swapon_all /fstab.freescale

    # Swap in only 1 page at a time
    write /proc/sys/vm/page-cluster 0
